<body>

    <form #noteForm="ngForm">

        <h1>Login</h1>

        <fieldset>
            <!-- <legend><span class="number">1</span>Your basic info</legend> -->
            <!-- <label for="name">Name:</label>
            <input type="text" id="name" name="user_name" required class="input"> -->

            <label for="mail">Email:</label>
            <input type="email" id="mail" name="user_email" required class="input"
                #email>

            <label for="password">Password:</label>
            <input type="password" id="password" name="user_password" required class="input"
                #password>

        </fieldset>

        <!-- <fieldset>
            <legend><span class="number">2</span>Your profile</legend>
            <label for="bio">Biography:</label>
            <textarea id="bio" name="user_bio"></textarea>
        </fieldset> -->

        <button type="submit" (click)="onSignin(email.value,password.value)" >Login</button>
    </form>

